footer {
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 50px;
    min-width: 600px;
    text-align: center;
}

.contact-link {
    padding-right: 15px;
    padding-left: 6px;
}

.credits-link {
    padding: 6px;
}
